#admin_category{
    .action_buttons{
        .edit{
            color: #fff;
        }
    }
    .action_links{
        display: flex;
        gap: 10px;
        align-items: center;
        .edit{
            color: $warning;
            &:hover{
                color: $warning_hover;
            }
        }
        .delete{
            color: $danger;
            background-color: transparent;
            outline: none;
            border: none;
            &:hover{
                color: $danger_hover;
            }
        }
    }

}
