// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$warning: #ffc107;
$warning_hover: #e0a800;
$danger: #DC3545FF;
$danger_hover: #c82333;
